body {
  background-color: #001008;
  color: #f0fff8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greybox {
  align-self: center;
  text-align: center;
  width: 70%;
  background-color: #102018;
  margin-bottom: 1%;
}

small {
  font-size: 8pt;
}

#main p {
  margin-left: 25%;
  margin-right: 25%;
  white-space: pre-wrap;
}

.button {
  border: 1px solid #bfffdf
}

.invisible {
  color: white;
  text-decoration: none
}