body {
  /*background-color: #001008;*/
  background-image: linear-gradient(to right, #000804, #002010, #000804);
  color: #f0fff8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greybox {
  align-self: center;
  text-align: center;
  width: 70%;
  background-color: rgba(40,40,40,0.5);
  margin-bottom: 1%;
  outline: solid 2px rgba(40,40,40,1);
}

.clearbox {
  align-self: center;
  text-align: center;
  width: 70%;
  margin-bottom: 1%;
}

small {
  font-size: 8pt;
}

#main p {
  margin-left: 25%;
  margin-right: 25%;
  white-space: pre-wrap;
}

.button {
  border: 1px solid #bfffdf;
  margin-bottom: 1%;
}

.realbutton {
  width: 88px;
  height: 31px;
  line-height: 31px;
  margin-left: auto;
  margin-right: auto;
  color: #7FFF7F;
}


.invisible {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px
}